# Django
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
*.sqlite3

# Environment
.env
.env.*
!.env.example
venv/
ENV/
env/
.venv/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Static and media files
/staticfiles/
/media/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
.coverage.*

# Other
*.bak
*.swp
*.tmp
